<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>income_list</key>
	<array>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<true/>
			<key>iconName</key>
			<string>cat_salary</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>工资</string>
			<key>index</key>
			<integer>0</integer>
            <key>color</key>
            <string>#a5d6a7</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<true/>
			<key>iconName</key>
			<string>cat_reward</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>奖金</string>
			<key>index</key>
			<integer>1</integer>
            <key>color</key>
            <string>#c5e1a5</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<true/>
			<key>iconName</key>
			<string>cat_finance</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>理财</string>
			<key>index</key>
			<integer>2</integer>
            <key>color</key>
            <string>#e6ee9c</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<true/>
			<key>iconName</key>
			<string>cat_mgift</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>礼金</string>
			<key>index</key>
			<integer>3</integer>
            <key>color</key>
            <string>#fff59d</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<true/>
			<key>iconName</key>
			<string>cat_cost</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>生活费</string>
			<key>index</key>
			<integer>4</integer>
            <key>color</key>
            <string>#ffe082</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<true/>
			<key>iconName</key>
			<string>cat_expense</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>报销</string>
			<key>index</key>
			<integer>5</integer>
            <key>color</key>
            <string>#ffcc80</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<true/>
			<key>iconName</key>
			<string>cat_bonus</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>分红</string>
			<key>index</key>
			<integer>6</integer>
            <key>color</key>
            <string>#ffab91</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<true/>
			<key>iconName</key>
			<string>cat_loan</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>贷款</string>
			<key>index</key>
			<integer>7</integer>
            <key>color</key>
            <string>#bcaaa4</string>
		</dict>
        <dict>
            <key>categoryId</key>
            <integer>0</integer>
            <key>income</key>
            <true/>
            <key>iconName</key>
            <string>cat_unexpect</string>
            <key>builtin</key>
            <true/>
            <key>name</key>
            <string>其他</string>
            <key>index</key>
            <integer>8</integer>
            <key>color</key>
            <string>#b0bec5</string>
        </dict>
	</array>
	<key>outcome_list</key>
	<array>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_eat</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>餐饮</string>
			<key>index</key>
			<integer>0</integer>
            <key>color</key>
            <string>#ffe0b2</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_buy</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>购物</string>
			<key>index</key>
			<integer>1</integer>
            <key>color</key>
            <string>#ffccbc</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_enter</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>娱乐</string>
			<key>index</key>
			<integer>2</integer>
            <key>color</key>
            <string>#ffcdd2</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_clothes</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>衣服</string>
			<key>index</key>
			<integer>3</integer>
            <key>color</key>
            <string>#f8bbd0</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_rent</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>租金</string>
			<key>index</key>
			<integer>4</integer>
            <key>color</key>
            <string>#e1bee7</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_gift</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>礼物</string>
			<key>index</key>
			<integer>5</integer>
            <key>color</key>
            <string>#d1c4e9</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_traffic</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>交通</string>
			<key>index</key>
			<integer>6</integer>
            <key>color</key>
            <string>#c5cae9</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_face</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>美容</string>
			<key>index</key>
			<integer>7</integer>
            <key>color</key>
            <string>#bbdefb</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_sport</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>运动</string>
			<key>index</key>
			<integer>8</integer>
            <key>color</key>
            <string>#b3e5fc</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_digit</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>电子</string>
			<key>index</key>
			<integer>9</integer>
            <key>color</key>
            <string>#b2ebf2</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_travel</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>旅行</string>
			<key>index</key>
			<integer>10</integer>
            <key>color</key>
            <string>#b2dfdb</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_home</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>家居</string>
			<key>index</key>
			<integer>11</integer>
            <key>color</key>
            <string>#c8e6c9</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_edu</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>教育</string>
			<key>index</key>
			<integer>12</integer>
            <key>color</key>
            <string>#dcedc8</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_pets</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>宠物</string>
			<key>index</key>
			<integer>13</integer>
            <key>color</key>
            <string>#f0f4c3</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_gas</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>加油</string>
			<key>index</key>
			<integer>14</integer>
            <key>color</key>
            <string>#fff9c4</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_wifi</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>通讯</string>
			<key>index</key>
			<integer>15</integer>
            <key>color</key>
            <string>#ffecb3</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_game</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>游戏</string>
			<key>index</key>
			<integer>16</integer>
            <key>color</key>
            <string>#ffcc80</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_smoke</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>烟酒</string>
			<key>index</key>
			<integer>17</integer>
            <key>color</key>
            <string>#ffab91</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_med</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>医疗</string>
			<key>index</key>
			<integer>18</integer>
            <key>color</key>
            <string>#bcaaa4</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_credit</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>还款</string>
			<key>index</key>
			<integer>19</integer>
            <key>color</key>
            <string>#ef9a9a</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_live</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>日用</string>
			<key>index</key>
			<integer>20</integer>
            <key>color</key>
            <string>#f48fb1</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_car</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>养车</string>
			<key>index</key>
			<integer>21</integer>
            <key>color</key>
            <string>#ea80fc</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_movie</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>电影</string>
			<key>index</key>
			<integer>22</integer>
            <key>color</key>
            <string>#b39ddb</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_snack</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>零食</string>
			<key>index</key>
			<integer>23</integer>
            <key>color</key>
            <string>#8c9eff</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_dummy</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>虚拟</string>
			<key>index</key>
			<integer>24</integer>
            <key>color</key>
            <string>#82b1ff</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_social</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>人情</string>
			<key>index</key>
			<integer>25</integer>
            <key>color</key>
            <string>#80d8ff</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_cost</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>生活费</string>
			<key>index</key>
			<integer>26</integer>
            <key>color</key>
            <string>#84ffff</string>
		</dict>
        <dict>
            <key>categoryId</key>
            <integer>0</integer>
            <key>income</key>
            <false/>
            <key>iconName</key>
            <string>cat_office</string>
            <key>builtin</key>
            <true/>
            <key>name</key>
            <string>办公</string>
            <key>index</key>
            <integer>27</integer>
            <key>color</key>
            <string>#64ffda</string>
        </dict>
        <dict>
            <key>categoryId</key>
            <integer>0</integer>
            <key>income</key>
            <false/>
            <key>iconName</key>
            <string>cat_child</string>
            <key>builtin</key>
            <true/>
            <key>name</key>
            <string>孩子</string>
            <key>index</key>
            <integer>28</integer>
            <key>color</key>
            <string>#40c4ff</string>
        </dict>
		<dict>
			<key>categoryId</key>
			<integer>0</integer>
			<key>income</key>
			<false/>
			<key>iconName</key>
			<string>cat_unexpect</string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string>其他</string>
			<key>index</key>
			<integer>29</integer>
            <key>color</key>
            <string>#80cbc4</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.6</string>
</dict>
</plist>
